<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django SaaS</title>
    {% include 'base/css.html' %}
  </head>
  <body>
    {% include 'nav/navbar.html' %}
    {% include 'base/messages.html' with messages=messages %}
    {% block content %} 
    {% endblock content %} 
    {% comment %} <script src="//accounts.google.com/gsi/client" async></script> {% endcomment %}
    {% include 'base/js.html' %}
  </body>
</html>
